body
    margin-block-end: 75px

    nav
        display: flex
        align-items: center
        background-color: #64A0BE
        font-family: Roboto
        font-weight: bold
        height: 50px
        position: fixed
        bottom: 0
        left: 0
        width: 100%;
        z-index: 100
        box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.25)

        ul
            display: flex
            gap: 10px
            list-style: none
            padding-inline-start: 10px
            overflow-x: auto
            overflow-y: visible
            padding: 5px 10px
            white-space: nowrap
            scroll-behavior: smooth
            cursor: grab

            -webkit-overflow-scrolling: touch

            &::-webkit-scrollbar
                display: none

            li
                font-size: 10px
                background-color: #87AFBE
                border: 2px solid #C8D7DC
                border-radius: 10px
                box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.25)
                width: 55px
                transition: 0.2s
                flex: 0 0 auto
                padding-inline: 5px
                text-shadow: #2D5A6E 1px 0px, #2D5A6E -1px 0px, #2D5A6E 0px -1px, #2D5A6E 0px 1px, #2D5A6E 1px 1px, #2D5A6E -1px 1px, #2D5A6E 1px -1px, #2D5A6E -1px -1px
                &:hover
                    transform: scale(1.05)

                a
                    display: flex
                    align-items: center
                    justify-content: center
                    text-decoration: none
                    color: #FFFFFF
                    width: 100%
                    height: 100%

                    img
                        width: 26px
                        margin-inline-end: 5px

                    span
                        text-align: center
                        justify-self: center

                #index-link
                    display: grid
                    grid-template-columns: 26px 1fr
                    align-items: center
                    column-gap: 5px

            #webpage-active
                display: flex
                align-items: center
                justify-content: center
                color: #EDF7F7
                background-color: #FFFFFF
                box-shadow: none
                cursor: default
                &:hover
                    transform: none

            .current-la
                position: relative
                border-color: #A54646
                background-color: #C88282
                text-shadow: #A54646 1px 0px, #A54646 -1px 0px, #A54646 0px -1px, #A54646 0px 1px, #A54646 1px 1px, #A54646 -1px 1px, #A54646 1px -1px, #A54646 -1px -1px
                &::after
                    content: ""
                    position: absolute
                    top: -5px
                    left: 3px
                    width: 10px
                    height: 15px
                    background: url("../img/media/alert_icon.png") no-repeat center / contain
                    z-index: 2
                a
                    color: #FFFFFF

            .current-la-active
                position: relative
                border-color: #D29191
                text-shadow: #A54646 1px 0px, #A54646 -1px 0px, #A54646 0px -1px, #A54646 0px 1px, #A54646 1px 1px, #A54646 -1px 1px, #A54646 1px -1px, #A54646 -1px -1px
                box-shadow: none
                &::after
                    content: ""
                    position: absolute
                    top: -5px
                    left: 3px
                    width: 10px
                    height: 15px
                    background: url("../img/media/alert_icon.png") no-repeat center / contain
                    z-index: 2      
                &:hover
                    transform: none   

                span
                    color: #F2E1E1

            #index-button
                width: 80px

    #pk-opponents
        display: flex
        flex-direction: column

        .pk-opponent
            display: flex
            flex-direction: column
            align-items: center
            background-color: rgba(70, 120, 140, 0.5)
            padding: 10px
            border-radius: 10px

        .pk-weakness
            height: 35px
            margin-block: 10px

        .pk-advice
            display: flex
            flex-direction: column
            width: 100%
            padding: 10px
            background-color: #46788C
            border-radius: 10px
            transition: 0.2s

            &:hover
                transform: scale(1.02)

            .pk-advice-button
                position: relative
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                cursor: pointer

                h3
                    font-family: Geometric
                    font-size: 14px
                    color: #FFFFFF
                    margin: 0

                img
                    position: absolute
                    right: 0
                    width: 20px

            .pk-advice-info
                display: none
                flex-direction: column
                font-family: Roboto
                font-size: 12px
                color: #FFFFFF
                width: 100%
                margin-block-start: 10px

                p
                    margin-block: 5px

                .la-extended-info
                    text-decoration: none
                    text-align: center
                    font-style: italic
                    font-weight: bold
                    color: #46788C
                    margin-block: 5px
                    padding-block: 5px
                    background-color: #F0FAFF
                    border-radius: 10px
                    transition: 0.2s

                    &:hover
                        transform: scale(1.02)

    #battles
        display: flex
        flex-direction: column

        #battle-list
            display: flex
            flex-direction: column
            width: 100%
            gap: 10px

            .battle
                display: flex
                flex-direction: column
                background-color: #B9E1E1
                border-radius: 10px
                width: 100%

                .battle-header
                    display: flex
                    align-items: center
                    background-color: #3C8296
                    border-radius: 10px 10px 0 0
                    width: 100%

                    img
                        width: 50px
                        border-start-start-radius: 10px

                    h3
                        margin: 0 10px
                        font-family: FOT NewRodin Pro
                        font-size: 12px
                        color: #FFFFFF
                        text-shadow: #2D5A6E 1px 0px,#2D5A6E -1px 0px,#2D5A6E 0px -1px,#2D5A6E 0px 1px,rgba(0, 0, 0, 0.25) 2px 2px,#2D5A6E -1px 1px,#2D5A6E 1px -1px,#2D5A6E -1px -1px

                    .difficulty
                        margin-left: auto
                        font-family: Josefin Sans
                        font-size: 12px
                        text-align: center
                        color: #FFFFFF
                        width: 100px
                        border-radius: 5px
                        padding-block: 4px 2px
                        margin-inline-end: 5px

                        &.normal
                            background-color: #96C864
                            border: 1px solid #55822D
                            text-shadow: #55822D 1px 0px,#55822D -1px 0px,#55822D 0px -1px,#55822D 0px 1px,#55822D 1px 1px,#55822D -1px 1px,#55822D 1px -1px,#55822D -1px -1px
                            &::before
                                content: "Normal"

                        &.dificil
                            background-color: #F0A03C
                            border: 1px solid #965A1E
                            text-shadow: #965A1E 1px 0px,#965A1E -1px 0px,#965A1E 0px -1px,#965A1E 0px 1px,#965A1E 1px 1px,#965A1E -1px 1px,#965A1E 1px -1px,#965A1E -1px -1px
                            &::before
                                content: "Difícil"

                        &.muy_dificil
                            background-color: #EB5F28
                            border: 1px solid #874619
                            text-shadow: #874619 1px 0px,#874619 -1px 0px,#874619 0px -1px,#874619 0px 1px,#874619 1px 1px,#874619 -1px 1px,#874619 1px -1px,#874619 -1px -1px
                            &::before
                                content: "Muy difícil"

                        &.experto
                            background-color: #D72D1E
                            border: 1px solid #871E14
                            text-shadow: #871E14 1px 0px,#871E14 -1px 0px,#871E14 0px -1px,#871E14 0px 1px,#871E14 1px 1px,#871E14 -1px 1px,#871E14 1px -1px,#871E14 -1px -1px
                            &::before
                                content: "Experto"

                        &.superexperto
                            background-color: #3C7DE6
                            border: 1px solid #2855AA
                            text-shadow: #2855AA 1px 0px,#2855AA -1px 0px,#2855AA 0px -1px,#2855AA 0px 1px,#2855AA 1px 1px,#2855AA -1px 1px,#2855AA 1px -1px,#2855AA -1px -1px
                            &::before
                                content: "Superexperto"

                .battle-info
                    display: flex
                    flex-direction: column
                    @media screen and (min-width: 1024px)
                        flex-direction: row
                        padding-inline-start: 5px

                    .sync-pairs-team
                        display: grid
                        grid-template-columns: repeat(3, minmax(80px, 100px))
                        justify-content: center
                        column-gap: 5px
                        margin: 5px auto
                        @media screen and (min-width: 1024px)
                            grid-template-columns: repeat(3, 80px)
                            @media screen and (min-width: 1200px)
                            grid-template-columns: repeat(3, 90px)
                        @media screen and (min-width: 1400px)
                            grid-template-columns: repeat(3, 100px)

                        a, .eggmon, .empty-space
                            display: flex
                            flex-direction: column
                            justify-content: center
                            align-items: center
                            background-color: #9BD2D2
                            border-radius: 10px
                            text-decoration: none
                            padding: 5px
                            transition: 0.2s

                            .sync-pair-icon
                                width: 80px

                            .sync-pair-name, .sync-pair-investment
                                display: flex
                                align-items: center
                                font-family: Roboto
                                font-weight: bold
                                font-size: 12px
                                text-align: center
                                color: #FFFFFF
                                text-shadow: #2D5A6E 1px 0px,#2D5A6E -1px 0px,#2D5A6E 0px -1px,#2D5A6E 0px 1px,#2D5A6E 1px 1px,#2D5A6E -1px 1px,#2D5A6E 1px -1px,#2D5A6E -1px -1px
                                margin: 3px 2px

                            .sync-pair-investment
                                display: flex
                                gap: 2px
                                width: 100%

                                .potential
                                    width: 100%
                                    font-size: 10px
                                    border: 2px solid #326473
                                    border-radius: 10px
                                    padding-block: 3px
                                    background-color: #6FB2C5
                                    &.max
                                        background-color: #E1D264

                                    &.ex
                                        background: linear-gradient(to right, #BE5D54 0%, #F9816F 10%, #FFA97A 20%, #FFCC71 35%, #99F49A 45%, #00F7D0 55%, #3AD5FB 65%, #BABEFF 78%, #F0ABEE 88%, #FF97B9 100%)

                                    &.sa
                                        background-color: #2378D2
                                        text-shadow: #14467D 1px 0px,#14467D -1px 0px,#14467D 0px -1px,#14467D 0px 1px,#14467D 1px 1px,#14467D -1px 1px,#14467D 1px -1px,#14467D -1px -1px
                                        color: #FFFABE

                                    &.energy
                                        width: 50px
                                        background-color: #E6A03C

                                    &.support
                                        background-color: #1EA0DC

                                    &.tech
                                        background-color: #0FC891

                                    &.strike
                                        background-color: #FA5050

                                    &.max, &.ex, &.sa, &.energy, &.support, &.tech, &.strike
                                        border-color: #503C46

                            &:hover
                                transform: scale(1.02)

                        .eggmon
                            background-color: #E6F0BE

                            .sync-pair-name
                                cursor: default

                            &:hover
                                transform: none

                        .empty-space
                            background-color: #96C3C8

                            &:hover
                                transform: none

                    .battle-button-panel
                        display: flex
                        justify-content: center
                        background-color: #9BD2D2
                        margin: 5px
                        border-radius: 10px
                        @media screen and (min-width: 1024px)
                            display: none

                        div
                            font-family: Geometric
                            color: #2D5A6E
                            font-size: 12px
                            text-align: center
                            background-color: #C8EBF4
                            border: 2px solid #2D5A6E
                            border-radius: 20px
                            padding-block: 2px
                            width: 80px
                            margin: 5px
                            box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25)
                            cursor: pointer
                            transition: 0.2s

                            &.active
                                background-color: #8CAFB4
                                box-shadow: none

                            &:hover
                                transform: scale(1.05)

                    .battle-tips-info
                        display: none
                        background-color: #64B4A5
                        border: 2px solid #326473
                        border-radius: 10px
                        margin: 5px
                        width: 100%

                        p
                            font-family: Roboto
                            font-size: 12px
                            font-weight: bold
                            color: #326473
                            background-color: #A5D2C8
                            margin: 10px
                            padding: 5px
                            border-radius: 5px
                            @media screen and (min-width: 1024px)
                                display: flex
                                align-items: center
                                width: 100%