body #pk-opponents #opponents-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-block-start: 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  body #pk-opponents #opponents-list {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  body #pk-opponents #opponents-list {
    margin-block-start: 50px;
  }
}
body #pk-opponents #opponents-list .pk-opponent {
  width: 100%;
}
body #pk-opponents #opponents-list .pk-opponent .pk-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: #F0FAFF;
  border: 4px solid #69919B;
  color: #416973;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-block: 10px;
  width: 100%;
  transition: 0.2s;
}
body #pk-opponents #opponents-list .pk-opponent .pk-button:hover {
  transform: scale(1.02);
}
body #pk-opponents #opponents-list .pk-opponent .pk-button img {
  width: 100px;
}
body #pk-opponents #opponents-list .pk-opponent .pk-button .pk-sync-move {
  position: absolute;
  width: 30px;
  top: 0px;
  right: 10px;
}
body #pk-opponents #opponents-list .pk-opponent .pk-button h2 {
  font-size: 16px;
  margin-block-start: 10px;
}
body #pk-opponents #opponents-list .pk-opponent .pk-button .pk-advice-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
body #pk-opponents #opponents-list .pk-opponent .pk-button .pk-advice-button h3 {
  font-family: Geometric;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
}
body #pk-opponents #opponents-list .pk-opponent .pk-button .pk-advice-button img {
  position: absolute;
  right: 0;
  width: 20px;
}
body #battles #battle-statistics {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-block: 20px;
  background-color: #87C8F0;
  border: 3px solid #FAF096;
  border-radius: 10px;
  padding: 10px;
  font-family: Geometric;
  font-size: 12px;
  text-shadow: #325F6E 1px 0px, #325F6E -1px 0px, #325F6E 0px -1px, #325F6E 0px 1px, rgba(0, 0, 0, 0.25) 2px 2px, #325F6E -1px 1px, #325F6E 1px -1px, #325F6E -1px -1px;
  width: 300px;
}
body #battles #battle-statistics .stat {
  display: flex;
  background-color: #4196D2;
  border-radius: 5px;
  width: 100%;
}
body #battles #battle-statistics .stat div:first-child {
  width: 70%;
  color: #FFFFFF;
  padding: 5px 10px;
}
body #battles #battle-statistics .stat div:last-child {
  width: 30%;
  color: #FAF096;
  text-align: end;
  background-color: #4BA0E1;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
}
body #battles #battle-list .battle .battle-info .battle-proof {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #D2EBEB;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
body #battles #battle-list .battle .battle-info .battle-proof img {
  min-width: 240px;
  max-width: 300px;
}
@media screen and (min-width: 1024px) {
  body #battles #battle-list .battle .battle-info .battle-proof img {
    width: 240px;
  }
}
@media screen and (min-width: 1200px) {
  body #battles #battle-list .battle .battle-info .battle-proof img {
    width: 300px;
  }
}