body {
  margin-block-end: 0;
}
body main #current-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #FFFFC8;
  border: 3px solid #F0D764;
  border-radius: 10px;
  width: 100%;
  min-width: 300px;
  max-width: 300px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
body main #current-lg h2 {
  font-family: Geometric;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: #BE6E28 1px 0px, #BE6E28 -1px 0px, #BE6E28 0px -1px, #BE6E28 0px 1px, rgba(0, 0, 0, 0.25) 2px 2px, #BE6E28 -1px 1px, #BE6E28 1px -1px, #BE6E28 -1px -1px;
  background-color: #E68C41;
  padding-block: 5px;
  width: 100%;
}
body main #current-lg img {
  margin-block: 10px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
body main #current-lg a {
  font-family: Geometric;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  text-shadow: #50696E 1px 0px, #50696E -1px 0px, #50696E 0px -1px, #50696E 0px 1px, #50696E 1px 1px, #50696E -1px 1px, #50696E 1px -1px, #50696E -1px -1px;
  background-color: #EBBE4B;
  border: 1px solid #50696E;
  border-radius: 20px;
  padding-block: 10px;
  margin-block-end: 0.83em;
  width: 200px;
  transition: 0.2s;
}
body main #current-lg a:hover {
  background-color: #F0C864;
  transform: scale(1.02);
}
body main #current-lg::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 55px;
  width: 20px;
  height: 31px;
  background: url("../img/media/alert_icon.png") no-repeat center/contain;
  z-index: 2;
}
@media screen and (min-width: 890px) {
  body main .block-content.green.mobile {
    display: none;
  }
}
body main .block-content.green.mobile #lg-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-block-start: 20px;
}
body main .block-content.green.mobile #lg-list .lg-banner {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #E1F5E6;
  border: 5px solid #87DCBE;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  transition: 0.2s;
}
body main .block-content.green.mobile #lg-list .lg-banner .lg-image {
  position: relative;
}
body main .block-content.green.mobile #lg-list .lg-banner .lg-image img {
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
body main .block-content.green.mobile #lg-list .lg-banner .lg-image span {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: FOT NewRodin Pro;
  font-size: 2.8125vw !important;
  text-align: center;
  color: #FFFFFF;
  text-shadow: #3C278C 1px 0px, #3C278C -1px 0px, #3C278C 0px -1px, #3C278C 0px 1px, #3C278C 1px 1px, #3C278C -1px 1px, #3C278C 1px -1px, #3C278C -1px -1px;
  margin-inline-start: 10px;
}
body main .block-content.green.mobile #lg-list .lg-banner:hover {
  transform: scale(1.02);
}
body main .block-content.green.pc {
  display: none;
}
@media screen and (min-width: 890px) {
  body main .block-content.green.pc {
    display: block;
  }
}
body main .block-content.green.pc #lg-list {
  grid-template-columns: 1fr;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (min-width: 890px) {
  body main .block-content.green.pc #lg-list {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: 20px;
  }
}
@media screen and (min-width: 1100px) {
  body main .block-content.green.pc #lg-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1220px) {
  body main .block-content.green.pc #lg-list {
    margin-block-start: 50px;
  }
}
@media screen and (min-width: 1340px) {
  body main .block-content.green.pc #lg-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
body main .block-content.green.pc #lg-list .lg-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: #E1F5E6;
  border: 5px solid #87DCBE;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  width: 100%;
  transition: 0.2s;
}
body main .block-content.green.pc #lg-list .lg-card img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
body main .block-content.green.pc #lg-list .lg-card span {
  font-family: FOT NewRodin Pro;
  font-size: 14px;
  text-align: center;
  color: #376E5F;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  margin-block: 10px 5px;
}
body main .block-content.green.pc #lg-list .lg-card:hover {
  transform: scale(1.02);
}
body main .block-content.blue #pk-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  margin-block-start: 20px;
}
@media screen and (min-width: 400px) {
  body main .block-content.blue #pk-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 600px) {
  body main .block-content.blue #pk-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 800px) {
  body main .block-content.blue #pk-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  body main .block-content.blue #pk-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 1220px) {
  body main .block-content.blue #pk-list {
    grid-template-columns: repeat(7, 1fr);
    margin-block-start: 50px;
  }
}
body main .block-content.blue #pk-list .pk-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background-color: #F0FAFF;
  border: 4px solid #69919B;
  color: #416973;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-block: 10px;
  width: 100%;
  transition: 0.2s;
}
body main .block-content.blue #pk-list .pk-card img {
  width: 100%;
}
body main .block-content.blue #pk-list .pk-card span {
  font-family: Geometric;
  font-size: 16px;
  margin-block-start: 10px;
}
body main .block-content.blue #pk-list .pk-card:hover {
  transform: scale(1.02);
}
body main .block-content.blue #pk-list .pk-card.current {
  position: relative;
  border-color: #C88282;
  background-color: #FADCDC;
  color: #A54646;
}
body main .block-content.blue #pk-list .pk-card.current::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 5px;
  width: 20px;
  height: 31px;
  background: url("../img/media/alert_icon.png") no-repeat center/contain;
  z-index: 2;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block-start: 50px;
  padding-block: 20px;
  font-family: Roboto;
  font-size: 10px;
  color: #416973;
  background-color: rgba(245, 80, 90, 0.5);
}
body footer p {
  text-align: center;
  margin: 0;
}
body footer hr {
  width: 70%;
  border: none;
  height: 0.5px;
  background-color: #416973;
  margin-block: 15px;
}
body footer .faq-link {
  padding-inline-start: 15px;
}
body footer .index-link {
  padding-inline-start: 10px;
}
body footer .faq-link, body footer .index-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #416973;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  transition: 0.2s;
}
body footer .faq-link img, body footer .index-link img {
  position: absolute;
  left: 0px;
  width: 30px;
}
body footer .faq-link:hover, body footer .index-link:hover {
  transform: scale(1.05);
}